.reviews-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
}

@media only screen and (max-width: 688px) {

    body,
    html {
        max-width: 100%;
        overflow-x: hidden;
    }

    .reviews-container {
        grid-template-columns: repeat(1, 1fr);
    }
}